header, nav, section, aside, footer {background: #ebebeb}

body {
    font-family: arial, 'helvetica neue', helvetica, sans-serif; 
    font-size: 18px; 
    color: #777; 
    background: #777; 
    margin-left: auto;
    margin-right: auto; 
    width: 960px
}


header {width: 960px; 
    height: 55px; 
    margin: 0 auto; 
    margin-bottom: 10px;
    margin-top: 20px;
    padding-top: 30px;
    align-items: center;
    text-align: center;
}

nav {width: 960px; 
    height: 55px; 
    margin: 0 auto; 
    margin-bottom: 10px;
    padding-top: 30px;
    align-items: center;
    text-align: center;
}

.containter {width: 940px;
    height: 96px;
}

section {width: 515px; 
    height: 288px;
    margin: 0 auto; 
    margin-bottom: 21px; 
    align-items: center;
    text-align: center;
    float: left
}

    article {width: 491px;
        height: 189px;
        color: #ebebeb; 
        background: #777; 
        margin: 60px auto;
    }

        .headers {width: 446px;
            height: 56px;
            color: #777; 
            background: #ebebeb; 
            margin: 20px;
        }

        p {width: 446px;
            height: 56px;
            color: #777; 
            background: #ebebeb; 
            margin: 20px; 
        }


aside {width: 412px;
    height: 288px; 
    margin: 0 auto; 
    margin-bottom: 21px; 
    text-align: center; 
    float: right;
}

footer {width: 960px; 
    height: 55px; 
    margin: 0 auto; 
    margin-bottom: 10px;
    padding-top: 30px;
    align-items: center;
    text-align: center;
    clear: both;
}
